block append config
	mixin otherNews(imgName, txtLink)
		div
			figure
				a(href="")
					img(src=pathImg[0]+imgName, alt="")
			article
				a(href="#").
					#{txtLink}

	mixin ekonoGraphic(imgName, txtLink, cn, txtPar)
		div
			a(href="#" class=cn)
				img(src=pathImg[1]+imgName, alt="" class="img-responsive")
				span #{txtLink}
				p #{txtPar}
			article
				a(href="#").
					#{txtLink}
					
	mixin breadcrumb(nameUrls)
		- var itung = nameUrls.length
		ol.breadcrumb
			each nameUrl, idx in nameUrls
					if idx !== itung - 1
						li
							a(href="index.html") #{nameUrl}
					else
						li.active #{nameUrl}

	mixin breadcrumb-custom(nameUrls)
		- var itung = nameUrls.length
		ol.breadcrumb-custom
			each nameUrl, idx in nameUrls
					if idx !== itung - 1
						li
							a(href="index.html") #{nameUrl}
					else
						li.currentLi #{nameUrl}
	
	mixin pagination(align)
		div(class="kd-paging-nav "+align)
			ul.paging-wrapper
				li.pagination__item.first
					//- a.pagination__link.first(href='#')  Pertama
					a.pagination__link.first(href='#')
					
				li.pagination__item.previous
					a.pagination__link.previous(href='#')

					// Daftar Paging
					
				li.pagination__item.page-is-active
					a.pagination__link(href='#') 1
				li.pagination__item
					a.pagination__link(href='#') 2
				li.pagination__item
					a.pagination__link(href='#') 3
				li.pagination__item
					a.pagination__link(href='#') 4
				//- li.pagination__item
				//-    a.pagination__link(href='#') 5
					
					// End Daftar Paging

				li.pagination__item.next
					a.pagination__link.next(href='#')

				li.pagination__item.last
					//- a.pagination__link.last(href='#')  Terakhir
					a.pagination__link.last(href='#')

	mixin topikPil(nameTopik)
		- var itung = nameTopik.length
		each topik, idx in nameTopik
			if idx !== itung - 1
				a(href="#") #{topik}, 
			else
				a(href="#") #{topik}
	
	mixin formSearch(namePages)
		section.formSearch
			form
				.row
					.col-md-4.col-sm-6
						.form-group
							input(type="text" class="form-control" placeholder="Kata kunci")
					.col-md-2.col-sm-6
						.form-group
							label
								select(class="form-control")
									option(selected="selected") Pilih Topik..
									option Topik Satu
									option Topik Dua
									option Topik Tiga
					.col-md-2.col-sm-6
						.form-group
							label
								select(class="form-control")
									option(selected="selected") Pilih Subtopik..
									option Topik Satu
									option Topik Dua
									option Topik Tiga
					.col-md-2.col-sm-6
						.form-group
							label
								select(class="form-control")
									option(selected="selected") Sort By Date
									option Sort By Name A-Z
									option Sort By Name Z-A
					.col-md-2.col-sm-12
						input(type="submit" class="btn btn-block btn-blue-pastel" value="Cari "+namePages)
	mixin formSearch3(namePages)
		.container
			section.formSearch.sectionGray
				form
					.row
						.col-md-6.col-sm-6
							.form-group
								input(type="text" class="form-control" placeholder="Kata kunci")
						.col-md-2.col-sm-6
							.form-group
								label
									select(class="form-control")
										option(selected="selected") Pilih Topik..
										option Topik Satu
										option Topik Dua
										option Topik Tiga
						//- .col-md-2.col-sm-6
						//- 	.form-group
						//- 		label
						//- 			select(class="form-control")
						//- 				option(selected="selected") Pilih Subtopik..
						//- 				option Topik Satu
						//- 				option Topik Dua
						//- 				option Topik Tiga
						.col-md-2.col-sm-6
							.form-group
								label
									select(class="form-control")
										option(selected="selected") Provinsi
										option Aceh
										option Batam
						.col-md-2.col-sm-12
							input(type="submit" class="btn btn-block btn-blue-pastel" value="Cari "+namePages)
	mixin formSearch2(namePages2)
		section.formSearch
			form
				.row
					.col-md-4.col-sm-6
						.form-group
							input(type="text" class="form-control" placeholder="Kata kunci")
					.col-md-3.col-sm-6
						.form-group
							label
								select(class="form-control")
									option(selected="selected") Pilih Topik..
									option Topik Satu
									option Topik Dua
									option Topik Tiga
					.col-md-3.col-sm-6
						.form-group
							label
								select(class="form-control")
									option(selected="selected") Pilih Subtopik..
									option Topik Satu
									option Topik Dua
									option Topik Tiga
					.col-md-2.col-sm-6
						input(type="submit" class="btn btn-block btn-blue-pastel" value="Cari "+namePages2)
	mixin formSearch4(namePages2)
		section.formSearch
			form
				.row
					.col-md-2.col-xs-12
						h2 Analisis
					.col-md-4.col-sm-6
						.form-group
							input(type="text" class="form-control" placeholder="Kata kunci")
					.col-md-2.col-sm-6
						.form-group
							label
								select(class="form-control")
									option(selected="selected") Pilih Topik..
									option Topik Satu
									option Topik Dua
									option Topik Tiga
					.col-md-2.col-sm-6
						.form-group
							label
								select(class="form-control")
									option(selected="selected") Pilih Subtopik..
									option Topik Satu
									option Topik Dua
									option Topik Tiga
					.col-md-2.col-sm-6
						input(type="submit" class="btn btn-block btn-blue-pastel" value="Cari "+namePages2)
	mixin formSearch5
		section.formSearch.otherStyle
			form
				.row
					.col-md-4.no-padding-right.col-sm-6.padding-mm-right-15
						.form-group
							input(type="text" class="form-control" placeholder="Kata kunci")
					.col-md-3.no-padding-right.col-sm-6.padding-mm-right-15
						.form-group
							label
								select(class="form-control")
									option(selected="selected") Pilih Topik..
									option Topik Satu
									option Topik Dua
									option Topik Tiga
					.col-md-3.no-padding-right.col-sm-6.padding-mm-right-15
						.form-group
							label
								select(class="form-control")
									option(selected="selected") Pilih Subtopik..
									option Topik Satu
									option Topik Dua
									option Topik Tiga
					.col-md-2.col-sm-6.tb-no-padding-right.padding-mm-right-15
						a(href="", class="btn btn-block btn-blue-pastel")
							i(class="fa fa-search")
	mixin formSearch6
		section.formSearch.otherStyle.removeBorder
			form
				.row
					.col-md-4.no-padding-right
						strong Artikel oleh Yura Syahrul
					.col-md-6.no-padding-right.col-sm-6.padding-mm-right-15
						.form-group
							input(type="text" class="form-control" placeholder="Kata kunci")
					.col-md-2.col-sm-6.tb-no-padding-right.padding-mm-right-15
						a(href="", class="btn btn-block btn-blue-pastel")
							i(class="fa fa-search") 
	mixin formSearch7(namePages7)
		section.formSearch.otherStyle
			form
				.row
					.col-md-10.no-padding-right.col-sm-6.padding-mm-right-15
						.form-group
							input(type="text" class="form-control" placeholder="Kata kunci")
					.col-md-2.col-sm-6.tb-no-padding-right.padding-mm-right-15
						input(type="submit" class="btn btn-block btn-blue-pastel" value=namePages7)
	mixin formSearch8(namePages8)
		section.formSearch
			form
				.row
					.col-md-10.no-padding-right.col-sm-6.padding-mm-right-15
						.form-group
							input(type="text" class="form-control" placeholder="Kata kunci")
					.col-md-2.col-sm-6.tb-no-padding-right.padding-mm-right-15
						input(type="submit" class="btn btn-block btn-blue-pastel" value=namePages8)
	mixin kdLogin
		.login-wrapper
			.formSearch.removeBorder
				.box-header
					h3 Login
					span
						| Belum punya akun? 
						a(href='#') Subscribe
				.box-content
					.sosmed-share
						a(href='' class="btn-fb") Login facebook
						//- a(href='' class="btn-gg") Login google
						a(href='' class="btn-lnkd") Login Linkedin
						//- a(href='' class="btn-tw") Login twitter
						//- a(href='' class="btn-insta") Login Instagram
					h6
						span Atau
					form
						.form-group
							input#txtEmail.form-control(type='email', placeholder='Email')
						.form-group
							input#txtPassword.form-control(type='password', placeholder='Ketik Password')
						.rememberMe
							input(id="ingatkan" type="checkbox" value="")
							label(for="ingatkan") Ingatkan saya
							ul
								li
									a(href="" id="lupaPassword") Lupa Password?
								li
									a(href="" id="aktivasiUlang") Kirim ulang Aktivasi
						a(href="", class="btn btn-block large btn-blue-pastel") Login
	mixin kdLogin2
		.login-wrapper
			.formSearch.removeBorder
				.box-header
					h3 Subscribe
					span
						| Sudah punya akun? 
						a(href='#') Login
				.box-content
					.sosmed-share
						a(href='' class="btn-fb") Login facebook
						//- a(href='' class="btn-gg") Login google
						a(href='' class="btn-lnkd") Login Linkedin
						//- a(href='' class="btn-tw") Login twitter
						//- a(href='' class="btn-insta") Login Instagram
					h6
						span Atau
					form
						.form-group
							input#txtEmail.form-control(type='email', placeholder='Email')
						.form-group
							input#txtNama.form-control(type='text', placeholder='Nama Lengkap')
						.form-group
							input#txtPassword.form-control(type='password', placeholder='Password')
						.form-group
							input#txtPasswordConfirm.form-control(type='password', placeholder='Ulangi Password')
						.recaptha-space
							img(src="images/recaptcha.png", alt="")
						input(type="submit", class="btn btn-blue-pastel" value="Subscribe")
